@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide {
  width: 220px !important;
  height: max-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

::-webkit-input-placeholder {
  color: black;
}
